.contenedor_principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, #000000 0%, #383838 50%, #000000 100% );
    min-height: 100vh;
   
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.contenedor_imagen_empresa{
    width: 200px;
    height: 200px;
    border-radius: 100%;    
    border: none
    
}
.imagen_empresa{
  width: 100%;
  height: 100%;
  border-radius: 100%;
    
}
.slogan_empresa{ 
    width: 200px;
    text-align: center;
}
.contenedor_botones_redes{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
