.contenedor_producto_{
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FFFFFF 0%, #AFAFAF 50%, #FFFFFF 100% );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.contenedor_imagenes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.contenedor_imagenes img{
    max-width: 100%;
    width: 300px;
    margin: 5px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    object-fit: contain;

}
.caracteristicas{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    align-self: flex-start;
    bottom: 0px;
    user-select: none;
}
.contenedor_definicion{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenedor_definicion p{
    font-size: 16px;
    max-width: 100%;
    color: white;
}
.link_wssp{
    width: 230px;
    height: 40px;
}
.boton_wssp{
    all: unset;
    width: 100%;
    height: 100%;
    background-color: #4dbf4d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}
.boton_wssp:hover{
    background-color: #78c378;
}
.icono_wssp{
    font-size: 30px;
}

